@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

html, body {
  background-color: #fbfbfb;
}
body,
#ApplicationPage input,
#ApplicationPage .selectable,
#surname-button,
.ui-autocomplete,
.big-button,
.ui-dialog .ui-dialog-titlebar,
#server-invalid-page-uuid p,
#server-timeout-close {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
#ApplicationPage input,
#ApplicationPage .selectable {
  background-color: #fbfbfb !important;
  border: none;
  border-bottom: 1px solid #dfdbd9;
  box-shadow: none;
  border-radius: 0;
  font-size: 1.2em !important;
  font-weight: 300;
  height: 2.25rem !important;
  padding: 0;
  padding-bottom: calc(.375em - 1px);
  padding-top: calc(.375em - 1px);
}
#ApplicationPage input:focus {
  border-bottom: 1px solid #fe5000;
}
#main {
  min-height: 0;
}
.page-header h2 {
  color: #97928f;
  font-size: 0.8em;
  margin: -0.75rem 0 -1.25rem;
  font-weight: 400;
}
#BankCredentials h2 {
  margin-bottom: 0px;
}
#Surname input,
#BankSelect input {
  width: calc(100% - 1rem);
}
#BankSelect input {
  font-size: 18px !important;
  padding-left: 0 !important;
  width: 100% !important;
}
#Surname {
  width: 400px;
}
#Surname div:last-child {
  padding: 0 !important;
}
#surname-button,
#server-timeout-close {
  background: #fe5000 !important;
  border: none !important;
  border-radius: 4px !important;
  box-shadow: none !important;
  color: #fff;
  cursor: pointer;
  font-size: 1rem !important;
  font-weight: 300;
  height: 2.25em !important;
  justify-content: center;
  padding-bottom: 0.375em;
  padding-left: .75em;
  padding-right: .75em;
  padding-top: calc(.375em - 1px);
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: uppercase;
  transition: all .3s ease;
  white-space: nowrap;
  width: inherit !important;
}
#surname-button:hover,
#surname-button:focus,
#server-timeout-close:hover,
#server-timeout-close:focus,
#submitdetails:hover,
#submitdetails:focus,
div#accept-terms button:first-child:hover,
div#accept-terms button:first-child:focus {
  background-color: rgba(255, 92, 0, 0.7) !important;
}
html .surname-container {
  height: 2.25rem !important;
}
html .surname-margin {
  display: inline-block;
  margin: 0;
  float: left;
  width: calc(100% - 105px);
}
html .bank-select-label.add-on {
  display: none;
}
html .bank-select-label.btn {
  right: 1px;
  border: none;
  background: none;
  box-shadow: none;
  top: 7px;
}
html .bank-select-label.btn .caret {
  border-top: 7px solid #97928f;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  position: absolute;
  right: 5px;
  top: 3px;
}
#bankaccount-div > .input-append {
  width: 100% !important;
}
.visible-phone {
  height: 267px;
  margin-left: -8px;
  overflow-y: hidden;
  text-align: center;
}
.visible-phone h2 {
  display: none;
}
html .logo-outside {
  background: #fff;
  background-image: none;
  border: 1px solid #dfdbd9;
  border-radius: 4px;
  box-shadow: none;
  display: inline-block;
  margin-left: 8px;
  transition: all 0.5s ease;
  width: 150px;
}
html .logo-outside:hover,
html .logo-outside:active {
  background: #fff;
  border-color: orange;
  box-shadow: none;
  transition: all 0.5s ease;
}
html .logo-outside:first-child {
  margin-left: 0;
}
.ui-autocomplete {
  border-color: #dfdbd9;
  border-top: 0;
  padding: 0 4px 0 0;
}
.ui-menu .ui-menu-item {
  border: 1px solid transparent;
  font-size: 16px;
  left: -2px;
  padding: 6px 10px;
  position: relative;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    background: #fbfbfb;
}
.big-button {
  display: block;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 300;
  height: inherit;
  line-height: 1.25;
  text-align: center;
  text-shadow: none;
  text-transform: uppercase;
  width: 100px;
}
#bankdetails {
  max-width: 278px !important;
}
#bankdetails label {
  color: #97928f;
  font-size: 12px;
  font-weight: 400 !important;
  margin-bottom: -3px;
}
#bankdetails + div {
  max-width: 278px !important;
}
#associated-bank-select:after {
  right: -4px;
}
#bankname {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 10px;
  padding: 0 20px;
  text-align: center;
}
#loading h3 {
  color: #97928f;
  font-size: 16px;
  font-weight: 300;
}
#loading img {
  display: none;
}
#loading h3::after {
  content: '...'
}
#associated-banks {
  border-color: #dfdbd9;
  border-radius: 0;
  box-shadow: none;
  font-size: 16px;
  padding: 0;
}
#associated-banks li {
  border-color: #dfdbd9 !important;
  padding: 7px 10px;
}
.ui-widget-overlay {
  background: #fbfbfb;
  opacity: 1;
}
.ui-widget-overlay {
  background: #fbfbfb;
  opacity: 1;
}
.ui-dialog .ui-dialog-titlebar {
  font-size: 16px !important;
  font-weight: 600 !important;
  margin-bottom: 0.75rem;
  margin-top: -0.5rem;
  padding: 0 !important;
}
.server-invalid-page-uuid {
  background: transparent !important;
  box-shadow: none !important;
  margin: 0 !important;
  max-width: inherit !important;
  min-width: inherit !important;
  width: 100% !important;
}
#server-invalid-page-uuid p {
  font-size: 14px !important;
  max-width: inherit !important;
  margin-bottom: 1.25rem;
  padding: 0 !important;
  white-space: inherit !important;
}
#server-timeout-close {
  margin: auto !important;
}
#submitdetails,
div#accept-terms button:first-child {
  background: #fe5000;
}
#acceptlicence {
  margin-top: 1rem;
}
div#acceptlicence p {
  font-size: 14px !important;
}
#iframeAnimationWrapper div:last-child {
  border-color: #dfdbd9 !important;
  margin-top: 1.25rem;
  max-height: 7rem !important;
  padding-bottom: 0 !important;
}
#termsiframe {
  height: 107px !important;
  max-height: inherit !important;
}
div#accept-terms button:last-child {
  padding-left: 0 !important;
}
@media only screen and (max-width: 551px) {
  .visible-phone {
    height: 211px;
  }
  html .logo-outside {
    width: 110px;
  }
  .big-button {
    font-size: 14px;
    padding: 7px 19px;
  }
}
@media only screen and (max-width: 480px) {
  .big-button {
    font-size: 14px;
    padding: 7px 19px;
  }
}
@media only screen and (max-width: 450px) {
  .visible-phone {
    height: 173px;
  }
  html .logo-outside {
    width: 83px;
  }
}
@media only screen and (max-width: 358px) {
  .visible-phone {
    height: 295px;
  }
  html .logo-outside {
    width: 79px;
  }
}
@media only screen and (max-width: 600px) {
  #Surname {
    width: 100%;
  }
}
